<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
                <binding name="BasicHttpBinding_IService1" />
                <binding name="BasicHttpBinding_IService2" />
                <binding name="BasicHttpBinding_IService3" />
                <binding name="BasicHttpBinding_IService4" />
                <binding name="BasicHttpBinding_IService5" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sit323lb-275663418.us-east-1.elb.amazonaws.com/WCFServiceAlg1/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                contract="AwsWebServer1.IService" name="BasicHttpBinding_IService" />
            <endpoint address="http://localhost:57817/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="DemoWebServer1.IService"
                name="BasicHttpBinding_IService1" />
            <endpoint address="http://localhost:58458/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService2" contract="DemoWebServer2.IService"
                name="BasicHttpBinding_IService2" />
            <endpoint address="http://localhost:50750/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService3" contract="DemoWebServer3.IService"
                name="BasicHttpBinding_IService3" />
            <endpoint address="http://sit323lb2-2035790830.us-east-1.elb.amazonaws.com/WCFServiceAlg2/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService4"
                contract="AwsWebServer2.IService" name="BasicHttpBinding_IService4" />
            <endpoint address="http://sit323lb3-414064062.us-east-1.elb.amazonaws.com/WCFServiceAlg3/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService5"
                contract="AwsWebServer3.IService" name="BasicHttpBinding_IService5" />
        </client>
    </system.serviceModel>
</configuration>